
        body {
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #fff8f0;
            color: #333;
            padding: 0;
        }
        header {
            background-color: #ff7043;
            color: white;
            padding: 1rem;
            text-align: center;
        }
        .recipe { 
            
            background: white;
            margin: 1rem auto;
            padding: 1rem;
            border-radius: 8px;
            max-width: 50%;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .recipe h3 {
            color: #572718;
            margin-left: 1.5rem;
        }
        h2 {
            color: #9b43ff;
            text-align: center;
            margin: 1rem auto;
            padding: 1rem;
        

        }
        
        ul, ol {
            margin-left: 1.5rem;
        }
        table {
        background-color: #ddd;
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-family: 'Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        }
         th {
        background-color: #f4f4f4;
        color: #333;
        }
        tr:nth-child(even) {
        background-color: #f9f9f9;
         }
         tr:hover {
        background-color: #b3b3b3;
        }
        .color-icon {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
    }
    .planeswalker header {
        background-color: #423ba1;
        color: #000000;
        padding: 1rem;
        text-align: center; 
    }
    .recipe-page {
        background-image: url('../img/ChallahBread.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    tbody td:first-child img {
        width: 100%;
        max-width: 400px; 

    }
    .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* (9 / 16) * 100 = 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}